@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    height: 54px;
    background-color: #F6C90E;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.dr-down{
    position: fixed;
    text-align: left;
    top: 63px;
    right: 20px;
    opacity: 0.5;
    background-color: #F6C90E;
    box-shadow: 3px 0 8px 1px rgba(0, 0, 0, 0.5);
    width: 144px;
    height: 257px;
    z-index: 1;
    transition: 300ms opacity;
}
.solid{
    opacity: 1;
}
.dr-down__item{
    margin-top: 17px;
    margin-left: 5px;
    font-family: Poppins;
    font-weight:800;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000000;
}
.logo{
    font-family: Poppins;
    font-size: 16px;
    margin-left: 15px;
    flex-grow: 1;  
    z-index: 1; 
}
.logo__icn{
    cursor: pointer;
}
.cart{
    flex-basis: 37.4px;
    z-index: 1;
}
.cart__icn{
    cursor: pointer;
}
.menu{
    flex-basis: 37.4px;
    z-index: 1;
}
.menu__icn{
    cursor: pointer;
}
.x{
    position: absolute;
    right: 15px;
    z-index: 1;
}
.overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
main{
    text-align: center;
    margin-bottom: 80px;
}
.greet{
    background-repeat: no-repeat;
    height: 586px;
    background-color: #F6C90E;
    background-position: center;
    background-image: url(/img/food-photographer-david-fedulov-Fn6dPYtPUMc-unsplash-fococlipping-standard.png);
}
.greet__restaurant-name{
    font-size: 36px;
    font-family: Poppins;
    padding-top: 50px;
}
.greet__slogan{
    font-family: Montserrat;
    font-size: 12px;
}
.history{
    height: 640px;
    display: flex;
    flex-direction: column;
}
.history__content{
    flex-basis: 50%;
}
.history__judul{
    padding-top: 50px;
    font-size: 28px;
    font-family: Poppins;
}
.history__paragraf{
    margin-top: 25px;
    width: 301px;
    text-align-last: center;
    display: inline-block;
    font-family: Montserrat;
    line-height: 150%;
    font-size: 14px;
}
.history__image{
    flex-basis: 50%;
    background-color: #F6C90E;
    background-image: url(/img/burger-nobackground2.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.alasan{
    height: 640px;
    display: flex;
    flex-direction: column;
}
.alasan__content{
    flex-basis: 50%;
}
.alasan__judul{
    padding-top: 50px;
    font-size: 28px;
    font-family: Poppins;
}
.alasan__paragraf{
    margin-top: 25px;
    width: 301px;
    font-size: 14px;
    text-align-last: center;
    display: inline-block;
    font-family: Montserrat;
    line-height: 150%;
}
.alasan__image{
    flex-basis: 50%;
    background-color: #F6C90E;
    background-image: url(/img/burger-nobackground3.png);
    background-position: center;
    background-position-y: -120px;
    background-size: 300px;
    background-repeat: no-repeat;
}

.greet__button{
    font-family: Poppins;
    font-weight: bold;
    border: none;
    padding:8px 19.5px;
    color: white;
    background-color: #FF4C29;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
    transition: 250ms;
}

.bio{
    height: 428px;
    text-align: left;
    display: flex;
}
.bio__personal{
    flex-basis: 50%;
}
.bio__judul{
    margin: 38px 0 18px 29px;
    font-family: Poppins;
    font-size: 28px;
}
.bio__gambar{
    margin-left: 29px;
    border-radius: 5px;
    border: 3px solid #F6C90E;
}
.bio__datadiri{
    margin-left: 29px;
    margin-top: 28px;
}
.bio__item{
    list-style: none;
    padding-bottom: 5px;
    font-family: Montserrat;
    font-size: 14px;
}
.bio__gambar{
    width: 145px;
    height: 159px;
}
.bio__image{
    display: none;
}
.footer{
    height: 215px;
    background-color: #F6C90E;
}
.footer__judul{
    padding: 6px 0 0 9px;
    font-family: Poppins;
}
.footer__content{
    display: flex;
    text-align: center;
    padding: 10px;
    padding-bottom: 10px;
}
.footer__medsos{
    display: flex;
    font-family: Poppins;
    align-items: center;
    font-size: 12px;
    margin-left: 9px;
}
.hidden{
    visibility: hidden;
}

@media only screen and (min-width : 720px){
    .dr-down{
        position: static;
        visibility: visible;
        opacity: 1;
        background-color: #F6C90E;
        box-shadow: unset;
        width: unset;
        height: unset;
    }
    .menu{
        display: none;
    }
    .x{
        display: none;
    }
    .cart{
        flex-basis: unset;
        margin-right: 40px;
    }
    .cart__icn{
        width : 25px;
        height: 25px;
        font-weight: 100px;
        margin-top: 5px;
    }
    .dr-down__item{
        display: inline-block;
        margin: 0 3vw 0 0;
        font-size: 16px;
        
    }
    .dr-down__shopping{
        display: none;
    }
    .logo{
        margin-left: 20px;
        font-size: 24px;
    }
    .greet__restaurant-name{
        font-size: 48px;
    }
    .greet__slogan{
        font-size: 20px;
    }
    .greet__button{
        margin-top: 35px;
    }
    .greet__button:hover{
        background-color: white;
        color: black;
    }
    .greet{
        height: 1024px;
        background-size: 520px;
        background-position-y: -50px;
    }
    .history{
        height: 512px;
        flex-direction: row-reverse;
        margin-top: 80px;
    }
    .history__judul{
        padding-top: 168px;
        font-size: 39.1px;
    }
    .history__paragraf{
        margin-top: 32px;
        font-size: 16px;
        width: 344px;
    }
    .history__image{
        background-size: 300px;
    }
    .alasan{
        height: 512px;
        flex-direction: row;
    }
    .alasan__judul{
        padding-top: 168px;
        font-size: 39.1px;
    }
    .alasan__paragraf{
        margin-top: 32px;
        font-size: 16px;
        width: 344px;
    }
    .alasan__image{
        background-size: unset;
    }
    .bio{
        height: 512px;
        flex-direction: row-reverse;
        text-align: center;
    }
    .bio__judul{
        margin-top: 55px;
        font-size: 39.1px;
    }
    .bio__gambar{
        margin-top: 34px;
    }
    .bio__datadiri{
        margin-top: 52px;
        font-size: 16px;
    }
    .bio__image{
        display: block;
        flex-basis: 50%;
        background-image: url(/img/burger-nobackground5.png);
        background-color: #F6C90E;
        background-position:center;
        background-repeat: no-repeat;
    }
    .footer{
        height: 474px;
    }
    .footer__judul{
        padding-top: 117px;
        margin-left: 48px;
        font-size: 32px;
    }
    .footer__content{
        margin-left: 48px;
    }
    .footer__medsos{
        font-size: 16px;
        cursor: pointer;
    }   
}